<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connection_string" value="Initial Catalog=EmployeeTut;Data Source=WINSC185488-SGF;User ID=sa;Password=Qwe12345;Integrated Security=False;" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.14" newVersion="5.3.14" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>